<!DOCTYPE html>
<html>
  <head>
    <title>Welcome to Glitch!</title>
    <meta name="description" content="A cool thing made with Glitch">
    <link id="favicon" rel="icon" href="https://glitch.com/edit/favicon-app.ico" type="image/x-icon">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/style.css">
  </head>
  <body>
    <header>
      <h1>
        Image Search Abstraction Layer
      </h1>
    </header>

    <main>
      <ol>
        <li>use <code>https://heady-swoop.glitch.me/api/imagesearch/&lt;SEARCH TERM&gt;?offset=&lt;PAGE NUMBER&gt;</code> to perform a Google image search</li>
          <ul>
            <li><b>SEARCH TERM</b> is the image keywords you wish to search for</li>
            <li><b>PAGE NUMBER</b> is which page of the results you wish to see</li>
          </ul>
        <li>use <code>https://heady-swoop.glitch.me/api/latest/imagesearch/</code> to view the last 10 search queries</li>
      </ol>
    </main>
  </body>
</html>
