* {
  box-sizing: border-box;
}

body {
  font-family: helvetica, arial, sans-serif;
  margin: 25px;
  line-height: 1.5;
}

h1 {
  font-weight: bold;
  color: pink;
}

li {
  line-height: 2;
  margin-bottom: 5px;
}